{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class = 'comtainer bg-light shadow-md p-5 form-layout'>

    <h1>Create Record</h1>
    <hr style = 'border: 1px solid #f0ebeb; margin: 20px 0'>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <div class="text-center">
            <button type = 'submit' class = 'btn btn-outline-primary'>
                Create Record
            </button>
        </div>
    </form>
</div>

{% endblock %}